@font-face {
  font-family: Gabarito-Bold;
  src: url(../public/assets/fonts/Gabarito-Bold.ttf);
}

@font-face {
  font-family: Gabarito-Regular;
  src: url(../public/assets/fonts/Gabarito-Regular.ttf);
}

body {
  font-family: Gabarito-Regular !important;
  background-color: #FFFFFF;
  align-items: center;
  color: rgb(79, 79, 79) !important;
}